.bck_trans {
  background: rgba(149, 165, 166, 0.5);
  border-radius: 15px;
}

.t-50 {
  transform: translate(-50%, -50%);
}

.center {
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.c_button {
  top: 70%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.c_text {
  top: 35%;
  left: 44%;
  /* transform: translate(-50%, -50%); */
}
.w-custom {
  width: 43vw;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

footer .social {
  margin-left: 15vw;
}

footer .legal_links {
  margin-right: 15vw;
}

.fab {
  color: white;
}

.results {
  max-width: 65vw;
}

.icon_img {
  height: 27vh;
}
